* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items:center;
}

.board {
  width:calc(128px * 8);
  height: calc(128px * 8);
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content: center;
  border: 5px solid brown;
}

.cell img {
  width: 96px;
  height: 96px;
  position: relative;
}

.cell {
  width: 128px;
  height: 128px;
  display: flex;
  justify-content: center;
  align-items:center;
}

.black {
  background-color: #5B7DA8;
}

.white {
  background-color: #DCE6F2;
}

.selected {
  background-color: brown;
}